body {
  color:red;
}


.btn-primary:hover {
  background-color: cyan;
  color: white;
}

.hero-background-img {
  position: relative;
  background: rgba(0, 0, 0, 0.3); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:200px;  
  padding-bottom:200px;
}

.hero-background-img {
  background-image: url("pure.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:200px;
  padding-bottom:200px;
}